body{
    background-color: #121212;
    overflow: hidden;
}


/* TITLE */
#title{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#desc{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    /* margin-bottom: 2.5%; */
    font-size: 1.3em;
    padding: 5%;
}
.border{
    border: 5px solid white;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    transition: 500ms;
}

.button{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    margin-bottom: 40px;
}

.button a{
    padding: 0.1em ;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    border: 3px solid white;
    width: 12%;
    height: 30px;
    font-weight: 600;
    color: #fff;
    background-color: #181717;
    transition: 200ms;
}

.button a:hover{
    color: #035096;
    border-color: #035096;
    transition: 200ms;
}

#bird{
    width: 45%;  
    height: auto;  
    object-fit: cover;    
    border: 5px solid rgb(255, 255, 255);
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    filter: blur(3px);
}