body{
    background-color: #121212;
    overflow: hidden;
}

.accueil{
    padding: 0.1em ;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    border: 3px solid white;
    width: 15%;
    height: 30px;
    font-weight: 600;
    color: #fff;
    background-color: #181717;
    transition: 200ms;
}

.accueil:hover{
    color: #035096;
    border-color: #035096;
    transition: 200ms;
}


/* TITLE */
#title{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#desc{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    margin-top: -5%;
    font-size: 1.3em;
}
.border{
    border: 5px solid white;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    transition: 500ms;
}
.border:hover{
    transform: scale(1.1);
    transition: 500ms;
    border: 5px solid #035096 ;
    background-color: #181717;
}

/* WIN */

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.slot{
    position: relative;
    perspective: 1000px;
}

.slot div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

/* COMPTEUR */

.center{
    text-align: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: -15px;
}

.button{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: 40px;
}

.button button{
    padding: 0 2em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 10%;
    height: 30px;
    font-weight: 600;
    color: #fff;
    background-color: #181717;
    transition: 200ms;
}

.button button:hover{
    color: #035096;
    border-color: #035096;
    transition: 200ms;
}

.button a{
    padding: 0.1em ;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    border: 3px solid white;
    width: 12%;
    height: 30px;
    font-weight: 600;
    color: #fff;
    background-color: #181717;
    transition: 200ms;
    margin-top: 1%;
}

.button a:hover{
    color: #035096;
    border-color: #035096;
    transition: 200ms;
}



/* BASE */

.images{
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

.base{
    width: 45%;  
    height: auto;  
    object-fit: cover;    
    border: 5px solid rgb(255, 255, 255);
    margin-right: 2.5%;
    transition: 500ms;
}

.base:hover{
    border: 5px solid #035096;
    transition: 500ms;
}

.base img{
    width: 100%;
    height: 100%;
}

.copie{
    width: 45%;  
    height: auto;  
    object-fit: cover;    
    border: 5px solid rgb(255, 255, 255);
    object-fit: cover;
    margin-left: 2.5%;
    position: relative;
    transition: 500ms;
}

.copie:hover{
    border: 5px solid #035096;
    transition: 500ms;
}

.copie #copieimg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

/* AFFICHE */
.copie #affiche{
    width: 5%;
    height: auto;
    position: absolute;
    z-index: 2;
    margin-left: 28%;
    margin-top: 27%;
    opacity: 0;
}
/* BARRIERE */
.copie #barriere{
    z-index: 2;
    margin-left: 56%;
    margin-top: 28.5%;
    position: absolute;
    width: 19%;
    opacity: 0;
}
/* BAS DE GRILLE */
.copie #basdegrille{
    z-index: 3 ;
    position: absolute;
    width: 6.5%;
    margin-left: 74%;
    margin-top: 46.1%;
    opacity: 0;
}
/* FENETRE */
.copie #fenetre{
    z-index: 2;
    position: absolute;
    width: 4.6%;
    margin-left: 59.5%;
    opacity: 0;
}
/* GRAPH */
.copie #graph{
    z-index: 2;
    position: absolute;
    width: 4.6%;
    margin-left: 87%;
    margin-top: 33.4%;
    opacity: 0;
}
/* LAMPE */
.copie #lampe{
    z-index: 2;
    position: absolute;
    width: 8.3%;
    margin-left: 38.5%;
    margin-top: 12.3%;
    opacity: 0;
}
/* MARCHE */
.copie #marche{
    z-index: 2;
    position: absolute;
    width: 65.6%;
    margin-left: 17.1%;
    margin-top: 41.3%;
    opacity: 0;
}
/* MUR */
.copie #mur{
    z-index: 2;
    position: absolute;
    width: 10.9%;
    margin-left: 22.4%;
    opacity: 0;
}
/* PORTE DE GARAGE */
.copie #portedegarage{
    z-index: 2;
    position: absolute;
    width: 4%;
    margin-left: 58%;
    margin-top: 16.5%;
    opacity: 0;
}
/* TOIT */
.copie #toit{
    z-index: 2;
    position: absolute;
    width: 8.3%;
    margin-left: 29.6%;
    margin-top: 19.1%;
    opacity: 0;
}

/* NIVEAU 2 */

.copie #boulon{
    z-index: 2;
    position: absolute;
    width: 4%;
    margin-left: 40%;
    margin-top: 53%;
    opacity: 0;
}

.copie #cable{
    z-index: 99;
    position: absolute;
    width: 18%;
    margin-top: 32%;
    opacity: 0;
}

.copie #coupelle{
    z-index: 99;
    position: absolute;
    width: 15%;
    margin-top: 26%;
    margin-left: 33.5%;
    opacity: 0;
}

.copie #marron{
    z-index: 99;
    position: absolute;
    width: 13.5%;
    margin-top: 41%;
    margin-left: 35.4%;
    opacity: 0;
}

.copie #metal{
    z-index: 99;
    position: absolute;
    width: 6.5%;
    margin-top: 45.9%;
    margin-left: 14%;
    opacity: 0;
}

.copie #metal2{
    z-index: 99;
    position: absolute;
    width: 2.8%;
    margin-top: 45%;
    margin-left: 20.5%;
    opacity: 0;
}

.copie #nez{
    z-index: 99;
    position: absolute;
    width: 1.3%;
    margin-top: 19.5%;
    margin-left: 65.8%;
    opacity: 0;
}

.copie #piecemetal{
    z-index: 99;
    position: absolute;
    width: 3%;
    margin-top: 48%;
    margin-left: 54%;
    opacity: 0;
}

.copie #plumage{
    z-index: 99;
    position: absolute;
    width: 9.1%;
    margin-top: 22.5%;
    margin-left: 55%;
    opacity: 0;
}

.copie #tige{
    z-index: 99;
    position: absolute;
    width: 2.3%;
    margin-top: 55.2%;
    margin-left: 32.5%;
    opacity: 0;
}